div{
    margin-left:7%;
    margin-top:2%;
    margin-right:7%;
    background-image: url(programação.jpeg);
    border-radius:10px;
}
.top{
    margin-left:7%;
    margin-top:2%;
    margin-right:7%;
    background-image: url(programação.jpeg);
    border-radius:10px;
    height:210px;
}
p{
    font-size:xx-large;
    margin-top:2%;
    margin-left:2%;
}
button{
    background-color:white;
    width:350px;
    height:50px;
    border-radius:5px;
    font-size:large;
}
h1{
    text-align: center;
    color: white;
}
img{
    margin-left:25%;
}
button{
    margin-left:7px;
    margin-bottom:7px;;
}