.votar{
    width: 99%;
    height:30px;
    background-color: greenyellow;
}
div{
    margin-left:7%;
    margin-top:2%;
    margin-right:7%;
    background-image: url(programação.jpeg);
    border-radius:10px;
}
.top{
    margin-left:7%;
    margin-top:2%;
    margin-right:7%;
    background-color: black;
    border-radius:10px;
    height:210px;
    background-image: none;
    text-align: center;
  
}
p{
    font-size:xx-large;
    margin-top:2%;
    margin-left:2%;
}
button{
    background-color:white;
    width:350px;
    height:50px;
    border-radius:5px;
    font-size:large;
}
h1{
    text-align: center;
    color: white;
}
.meio{
    text-align: center;
    background-image: none;
}
img{
    size: 500px;
}
button{
    margin-left:7px;
    margin-bottom:7px;;
}
.P{
    background-image: url(prog.jpg);
    background-size:400px;
    width:400px;
    height:127px;
    margin-left:8%;
    margin-top:12%;
    margin-right:10%;
    border-radius:15px;
    font-size:xx-large;
    color:white;
}
.R{
    width:400px;
    height:127px;
    background-image:url(roboticaeducacional.jpeg);
    margin-left:8%;
    margin-top:12%;
    border-radius:15px;
}